<footer>
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="/material/js/ripples.min.js"></script>
    <script type="text/javascript" src="/material/js/material.min.js"></script>
    <script type="text/javascript" src="/full-page/jquery.fullpage.extensions.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist.min.js">
    </script>



    </script>
    <script>
        // $(document).on("click","#masuk",function() {

        // var coba = tinyMCE.activeEditor.getContent({format : 'text'});

        // alert(coba);


        // $("#isiPosting").submit( function () {    
        //     $.ajax({   
        //         type: "POST",
        //         data :,
        //         cache: false,  
        //         url: "addpost.html",   
        //         success: function(data){
        //             $("# ").html(data);                       
        //         }   
        //     });   
        //     return false;   
        // });

        // });


        $(document).ready(function () {
            $(function () {
                $.material.init();
            });
        });
    </script>
</footer>