<!DOCTYPE html ng-app>
<html>

<head>
  <title>makan dilaut</title>
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/material/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="/material/css/ripples.min.css">
  <link rel="stylesheet" href="/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/full-page/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/roboto-fontface/css/roboto/roboto-fontface.css">
  <!--<link href="https://fonts.googleapis.com/css?family=Doppio+One" rel="stylesheet">-->
</head>

<body>
  <div class="navbar navbar-edit navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand " href="javascript:void(0)">Node.js Bootcamp</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="javascript:void(0)">Active</a></li>
          <li><a href="javascript:void(0)">Link</a></li>
          <li class="dropdown">
            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Dropdown header</li>
              <li><a href="javascript:void(0)">Separated link</a></li>
              <li><a href="javascript:void(0)">One more separated link</a></li>-->
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
         
          <li class=""><a href="javascript:void(0)">Login</a></li>
        </ul>
      </div>
    </div>
  </div>